
body{
    min-height: 100vh;
    max-height: 100vh;
    max-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    background-color: #000;
}

h1{
    font-size: 50px;
    color: #f8f8f8;
    text-shadow: 4px 4px 40px solid rgb(226, 17, 17);
    
text-shadow: 2px 2px 0 #4074b5

}
button{
    font-size: 30px;
   background-color: crimson;
   color: #fff;
   border: 2px #fa0a8e;
   cursor: pointer;
    transition: .3s;
    border-radius: 4px;
    
}
button:hover{
    background-color: brown;
}